$blue: #0071b7;
$dblue: #005990;
$gray: #7b7b7b;
$quicksand: 'Quicksand', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Quicksand');

.container {
  font-family: $quicksand;
  text-align: center;
  .header {
    margin-top: 10vh;
    h1 {
      color: $blue;
    }
  }
  .catList {
    .col-md-12 {
      margin: 10px 0 30px 0;
      li {
        display: inline-block;
        padding: 5px 15px;
        margin: 0 5px;
        border-bottom: 2px solid transparent;
        color: $gray;
      }
      li:hover {
        border-bottom: 2px solid $dblue;
        color: $dblue;
        cursor: pointer;
      }
    }
  }
  .catView {
    .col-md-12 {
      h1 {
        margin-top: 100px;
        color: #5a5a5a;
      }
      img {
        box-shadow: 10px 10px 10px #e7e7e7;
        cursor: pointer;
      }
    }
    #count {
      margin-top: -120px;
      color: $dblue;
    }
  }
}
